<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${status}"></title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/error.css" rel="stylesheet">
</head>
<body class="xx5">
<div>
    <img src="/images/svg/e500.svg" alt="">
    <div class="clearfix mt-0">
        <a href="/" class="btn btn-info ml-5">回到主页</a>
        <button type="button" class="btn btn-info  float-right mr-5" onClick="history.back();">返回上一页</button>
    </div>
</div>
</body>
</html>
