<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>幻影在线-</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="/js/iconfont.js"></script>
</head>
<body>
<header th:replace="~{commoms::header}"></header>
<div class="container py-5">
    <div class="form_popup" id="login_form">
        <div class="text-center">
            <div class="mt-5">
                <h2>用户登录</h2>
                <span class="text-danger" th:text="${param.error}?'用户名或密码错误！'"></span>
            </div>
        </div>
        <div class="user-account">
            <form method="post" action="/login">
                <div class="input-sec mb-5">
                    <input type="email" name="username" placeholder="邮箱">
                </div>
                <div class="input-sec">
                    <input type="Password" name="password" placeholder="密码">
                </div>
                <div class="checkbox-lg">
                    <label>
                        <input type="checkbox" name="remember-me" value="true">
                        <b class="checkmark"> </b> <span>记住我</span> </label>
                </div>
                <div class="input-sec mb-0">
                    <button type="submit">Login</button>
                </div>
            </form>
            <a href="/resetPage" title="" class="fg_btn">忘记密码?</a> </div>
        <div class="fr-ps">
            <h1>没有账号? <a href="/signUp" title="" class="show_signup">点我注册.</a></h1>
        </div>
    </div>
</div>
<hr class="m-0">
<footer th:replace="~{commoms::footer}"></footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery-3.4.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/myjs.js"></script>

</body>
</html>